body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 50px;
}
.container {
    margin: 50px 150px 0px 150px;
}
.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.left-player , .right-player {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.left-player h1 , .right-player h1 {
    text-align: center;
}
.dice {
    display: none;
}
.button {
    color: #fff;
    background-color: black;
    border: 2px solid black;
    font-size: 35px;
    cursor: pointer;
}